<div class="container">
  <h1>Todo List</h1>

  <form>
    <input type="text" placeholder="Add todo" />
    <button type="submit">Add</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>Task</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of listOfTodos">
        <td>
          <label>
            <input type="checkbox" />
            <span class="checkmark"></span>
            {{ todo.text }}
          </label>
        </td>
      </tr>
    </tbody>
  </table>
</div>
