<div class="container">
  <h1>Todo List</h1>

  <form class="todo">
    <input type="text" placeholder="Add todo" />
    <button type="submit">Add</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>Tasks</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of listOfTodos">
        <td>
          <form class="checkbox" [formControl]="checkboxForm">
            <label>
              <input type="checkbox" [checked]="todo.completed" />
              <span class="checkmark"></span>
              {{ todo.text }}
            </label>
            <span class="delete">X</span>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>
